<%- include ../include/head %>
<%- include ../include/nav %>

<div class="jumbotron">
	<div class="container">
	  <h1>站长中心</h1>
	  <p>这里可以找到你想查看的站点分析结果，你也可以申请一个属于自己的站点分析服务</p>
	  <p><a class="btn btn-primary btn-lg disabled" role="button">申请站点分析</a></p>
	</div>
</div>
<div class="container">
	<div class="panel panel-default">
		<div class="panel-body">
			<h3>配网生产系统</h3>
			<h4>patrickchow</h4>
			<div class="text-right">
				<a href="/view/sproc/base" class="btn btn-primary">进入访问</a>
			</div>
		</div>
	</div>
</div>
<%- include ../include/foot %>